 {% extends 'base.html' %}
 {% block content %}
 <h1>Football Shop</h1>

 <h5>NPM: </h5>
 <p>{{ npm }}<p>

 <h5>Name:</h5>
 <p>{{ name }}</p>

 <h5>Class:</h5>
 <p>{{ class }}</p>

 <a href="{% url 'main:create_items' %}">
  <button>+ Add Item</button>
</a>

<hr>

{% if not shop_list %}
<p>Belum ada data barang pada football shop.</p>
{% else %}

{% for item in shop_list %}
<div>
  <h2><a href="{% url 'main:show_shop' item.id %}">{{ item.name }}</a></h2>

  <p><b>{{ item.category }}</b>
  </p>

  {% if item.thumbnail %}
  <img src="{{ item.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br />
  {% endif %}

  <p>{{ item.content|truncatewords:25 }}...</p>

  <p><a href="{% url 'main:show_shop' item.id %}"><button>Read More</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}
 {% endblock content %}